body {
  margin: 0;
  
}

.heading_style{
  padding: 30px 0;
  text-align: center;
  background-color: bisque;
  font-family: 'Dancing Script', cursive;
  
  


}

.slot_inner{

  
  text-align: center;
  font-size: 10px;
  font-family: 'Dancing Script', cursive;

}

.slotmachine{
  display: flex;
  flex-direction: column;
  width:30%;
  margin-left: 430px;
  border:2px solid grey;
  border-radius: 20px;
  background-color: azure;

}
